
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- ################# Events Start Here#######################--->
<section class="events">
    <div class="container">

        <div class="event-ro row">
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_08.jpg" alt="">
                    <h4>Child Education in Karachi by JDC</h4>

                    <p class="raises"><span>Raised : RS 103,000</span> /RS 500,000 </p>
                    <p class="desic">The JDC School is an educational institution dedicated to providing quality education and fostering the growth of students to become responsible global citizens.</p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_06.jpg" alt="">
                    <h4>Oldage by Edhi</h4>
                    <p class="raises"><span>Raised : RS 400,300</span> / RS 500,000 </p>
                    <p class="desic">The Edhi Old Age Home provides compassionate care and support to elderly individuals, ensuring a dignified and comfortable living environment for senior citizens in need.</p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_04.jpg" alt="">
                    <h4>Saylani IT Center</h4>
                    <p class="raises"><span>Raised : RS 123,400</span> / RS 10,00,000 </p>
                    <p class="desic">
                        The Saylani IT Center empowers underprivileged individuals with digital skills and IT training, bridging the digital divide and creating opportunities for better livelihoods.
                    </p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_05.jpg" alt="">
                    <h4>JDC dialysis Center</h4>
                    <p class="raises"><span>Raised : RS 300,000</span> / RS 700,000 </p>
                    <p class="desic">
                        The JDC Dialysis Center offers life-saving dialysis treatments and compassionate care to patients with kidney-related illnesses, improving their quality of life and health outcomes.
                    </p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_06.jpg" alt="">
                    <h4>HANDS Pakistan </h4>
                    <p class="raises"><span>Raised : RS 534,000</span> / RS 600,000 </p>
                    <p class="desic">HANDS Pakistan: Empowering marginalized communities with healthcare, education, and sustainable development initiatives for a brighter future.</p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-box">
                    <img src="~/assets/images/events/image_07.jpg" alt="">
                    <h4>
                        Chhipa Welfare Association
                    </h4>
                    <p class="raises"><span>Raised : RS 34,400</span> / RS 60,000 </p>
                    <p class="desic">
                        Chhipa Welfare Association: Providing humanitarian aid and emergency services to those in need, fostering hope and compassion in Pakistan.
                    </p>
                    <button class="btn btn-success btn-sm">@Html.ActionLink("Donate Now", "donation", "users", null, new { style = "text-decoration:none; color:white; vertical-align: middle;" })</button>
                </div>
            </div>
        </div>
    </div>
</section>
