
@{
    ViewBag.Title = "adminPanel";
    Layout = "~/Views/Shared/admin_Layout.cshtml";

}
<br />
<center><h1>Dashboard</h1></center>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="@Url.Action("add_foundations")">Add NGO</a>
        </li>
    </ul>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<div class="jumbotron">
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card"><span class="fa fa-home" aria-hidden="true">  </span></div>
                <div style="color:white" ; class="text-info text-center mt-3"><h4>@Html.ActionLink("Foundations", "view_foundations", "admin", null, new { style = "text-decoration:none; color:black; vertical-align: middle;" })</h4></div>
                <div class="text-info text-center mt-2"><h1>@TempData["Foundations"]</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>@Html.ActionLink("Donations", "view_donation", "admin", null, new { style = "text-decoration:none; color:black; vertical-align: middle;" })</h4></div>
                <div class="text-success text-center mt-2"><h1>@TempData["Donations"]</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card"><span class="fa fa-edit" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>@Html.ActionLink("Users", "View_users", "admin", null, new { style = "text-decoration:none; color:black; vertical-align: middle;" })</h4></div>
                <div class="text-danger text-center mt-2"><h1>@TempData["users"]</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card"><span class="fa fa-inbox" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>@Html.ActionLink("Feedback", "view_feedback", "admin", null, new { style = "text-decoration:none; color:black; vertical-align: middle;" })</h4></div>
                <div class="text-warning text-center mt-2"><h1>@TempData["Contact"]</h1></div>
            </div>
        </div>
    </div>
</div>

